body   
{
    font-family: Verdana, sans-serif;
    background-color: url(901ad9ad498cae6cbc137b6b57c9f012.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 40px;
    color: #ff0000; 
    font-size: 22px;
    text-align: center;
    top: 100px;
    position: relative;
}
button {
    background-color: #0400ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 32px;
    border-radius: 40px;
}
button#yes:hover {
    background-color: #00ff15; 
}
button#no:hover {
    background-color: #ff0000; 
}